<style>
    .text-muted {
        color: #6c757d !important;
    }
</style>
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2024</span>
    </div>
</footer>